[submodule "sample"]
	path = sample
	url = git@gitlab.com:doroke7/landan-sample-golang.git
[submodule "landan-proto-hexagon"]
	path = landan-proto-hexagon
	url = git@gitlab.com:doroke7/landan-proto-hexagon.git
[submodule "proto"]
	path = proto
	url = git@gitlab.com:doroke7/landan-protocol-proto.git
[submodule "runs"]
	path = runs
	url = git@github.com:doroke7/landan-ai-yolo-runs.git
